<form [formGroup]="customForm" (ngSubmit)="submitForm()">
  <label for="id">ID : </label>
  <input id="id" type="number" formControlName="id">
  <br><br>
  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">
  <br>
  <label for="description">Description : </label>
  <input id="description" type="text" formControlName="description">
  <br>
  <label for="sentinelle">Sentinelle ID : </label>
  <input id="sentinelle" type="number" formControlName="sentinelle">
  <br>
  <label for="espece">Espece ID : </label>
  <input id="espece" type="number" formControlName="espece">
  <br>
  <input type="submit" value="Send" [disabled]="customForm.invalid">
</form>

<p>
  Id : {{ result.id }} <br>
</p>

<p>
  requestBody : <br>
  {{ requestBody | json }}
</p>

<button (click)="confirmSubmit()">
  Submit
</button>
<button (click)="confirmUpdate()">
  Update
</button>
