<form [formGroup]="customForm" (ngSubmit)="submitForm()">
  <label for="id">ID : </label>
  <input id="id" type="number" formControlName="id">
  <br><br>
  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">
  <br>
  <label for="luminosite">Luminosité : </label>
  <input id="luminosite" type="number" formControlName="luminosite">
  <br>
  <label for="humidite">Humidité : </label>
  <input id="humidite" type="number" formControlName="humidite">
  <br>
  <label for="temperature">Température : </label>
  <input id="temperature" type="number" formControlName="temperature">
  <br>
  <input type="submit" value="Send" [disabled]="customForm.invalid">
</form>

<p>
  Id : {{ result.id }} <br>
</p>

<p>
  requestBody : <br>
  {{ requestBody | json }}
</p>

<button (click)="confirmSubmit()">
  Submit
</button>
<button (click)="confirmUpdate()">
  Update
</button>
