<form [formGroup]="customForm" (ngSubmit)="submitForm()">
  <label for="id">ID : </label>
  <input id="id" type="number" formControlName="id">
  <br><br>
  <label for="prenom">Prénom : </label>
  <input id="prenom" type="text" formControlName="prenom">
  <br>
  <label for="name">Nom : </label>
  <input id="name" type="text" formControlName="name">
  <br>
  <label for="adresse">Adresse : </label>
  <input id="adresse" type="text" formControlName="adresse">
  <br>
  <label for="site">Site ID : </label>
  <input id="site" type="number" formControlName="site">
  <br>
  <input type="submit" value="Send" [disabled]="customForm.invalid">
</form>

<p>
  Id : {{ result.id }} <br>
</p>

<p>
  requestBody : <br>
  {{ requestBody | json }}
</p>

<button (click)="confirmSubmit()">
  Submit
</button>
<button (click)="confirmUpdate()">
  Update
</button>
