<form [formGroup]="customForm" (ngSubmit)="submitForm()">
  <label for="id">ID : </label>
  <input id="id" type="number" formControlName="id">
  <br><br>
  <label for="destination">Destination: </label>
  <input id="destination" type="text" formControlName="destination">
  <br>  <label for="date">Date : </label>
  <input id="date" type="date" formControlName="date">
  <br>
  <label for="lot">Lot ID : </label>
  <input id="lot" type="number" formControlName="lot">
  <br>
  <label for="tache">Tâche ID : </label>
  <input id="tache" type="number" formControlName="tache">
  <br>
  <label for="salarie">Salarié ID : </label>
  <input id="salarie" type="number" formControlName="salarie">
  <br>
  <input type="submit" value="Send" [disabled]="customForm.invalid">
</form>

<p>
  Id : {{ result.id }} <br>
</p>

<p>
  requestBody : <br>
  {{ requestBody | json }}
</p>

<button (click)="confirmSubmit()">
  Submit
</button>
<button (click)="confirmUpdate()">
  Update
</button>
