<form [formGroup]="customForm" (ngSubmit)="submitForm()">
  <label for="id">ID : </label>
  <input id="id" type="number" formControlName="id">
  <br><br>
  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">
  <br>
  <label for="classe">Classe ID : </label>
  <input id="classe" type="number" formControlName="classe">
  <br>
  <input type="submit" value="Send" [disabled]="customForm.invalid">
</form>

<p>
  Id : {{ result.id }} <br>
</p>

<p>
  requestBody : <br>
  {{ requestBody | json }}
</p>

<button (click)="confirmSubmit()">
  Submit
</button>
<button (click)="confirmUpdate()">
  Update
</button>
