<form [formGroup]="customForm" (ngSubmit)="submitForm()">
  <label for="id">ID : </label>
  <input id="id" type="number" formControlName="id">
  <br><br>
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">
  <br>
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">
  <br>
  <label for="age">Age : </label>
  <input id="age" type="text" formControlName="age">
  <br>
  <input type="submit" value="Send" [disabled]="customForm.invalid">
</form>

<p>
  Id : {{ result.id }} <br>
</p>

<p>
  requestBody : <br>
  {{ result | json }}
</p>

<button (click)="confirmSubmit()">
  Submit
</button>
<button (click)="confirmUpdate()">
  Update
</button>
