<p>Select a table to change</p><br>
<ng-select  [items]="tableArray$"
            (change)="changeTableInUse()"
            bindLabel="tableName"
            bindValue="tableName"
            [(ngModel)]="tableToUse">
</ng-select>
<br>
<p>{{ tableToUse }}</p>
<br>
<div [ngSwitch]="tableToUse">
  <app-regne-form *ngSwitchCase="'Regne'"></app-regne-form>
  <app-ordre-form *ngSwitchCase="'Ordre'"></app-ordre-form>
  <app-genre-form *ngSwitchCase="'Genre'"></app-genre-form>
  <app-famille-form *ngSwitchCase="'Famille'"></app-famille-form>
  <app-espece-form *ngSwitchCase="'Espece'"></app-espece-form>
  <app-embranchement-form *ngSwitchCase="'Embranchement'"></app-embranchement-form>
  <app-classe-form *ngSwitchCase="'Classe'"></app-classe-form>
  <app-sentinelle-form *ngSwitchCase="'Sentinelle'"></app-sentinelle-form>
  <app-alerte-form *ngSwitchCase="'Alerte'"></app-alerte-form>
  <app-narrateur-form *ngSwitchCase="'Narrateur'"></app-narrateur-form>
  <app-projetsauvetage-form *ngSwitchCase="'ProjetSauvetage'"></app-projetsauvetage-form>
  <app-livresauvetage-form *ngSwitchCase="'LivreSauvetage'"></app-livresauvetage-form>
  <app-tache-form *ngSwitchCase="'TacheProjet'"></app-tache-form>
  <app-sallestockage-form *ngSwitchCase="'SalleStockage'"></app-sallestockage-form>
  <app-lot-form *ngSwitchCase="'Lot'"></app-lot-form>
  <app-mouvementlot-form *ngSwitchCase="'MouvementLot'"></app-mouvementlot-form>
  <app-pays-form *ngSwitchCase="'Pays'"></app-pays-form>
  <app-commune-form *ngSwitchCase="'Commune'"></app-commune-form>
  <app-site-form *ngSwitchCase="'Site'"></app-site-form>
  <app-salarie-form *ngSwitchCase="'Salarie'"></app-salarie-form>
  <app-user-form *ngSwitchDefault></app-user-form>
</div>
<br>
<button (click)="showTable()">
  Refresh table display
</button>
<br>
<ul>
  <li *ngFor="let res of requestResult">{{res | json}}</li>
</ul>
<br>
